@font-face {
    font-family: 'DMSans-500';
    src: url('../../assets/fonts/Medium500.ttf');
}

@font-face {
    font-family: 'DMSans-700';
    src: url('../../assets/fonts/Bold700.ttf');
}

@font-face {
    font-family: 'Darker-500';
    src: url('../../assets/fonts/Darker-Medium500.ttf');
}

@font-face {
    font-family: 'Darker-600';
    src: url('../../assets/fonts/Darker-SemiBold600.ttf');
}

@font-face {
    font-family: 'Darker-700';
    src: url('../../assets/fonts/Darker-Bold700.ttf');
}

.heroBanner {
    width: 100%;
    background-color: #F7F6F5;
}

.heroBanner-content {
    max-width: 1440px;
    padding: 0px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heroBanner-title {
    max-width: 613px;
    font-weight: 600;
    font-size: 75px;
    line-height: 110%;
    color: #161616;
    margin-bottom: 30px;
}

.heroBanner-text {
    max-width: 623px;
    font-weight: 500;
    font-size: 25px;
    line-height: 160%;
    color: #6E6E6E;
    font-family: 'DMSans-500';
    margin-bottom: 50px;
}

.heroBanner-btn-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.heroBanner-buy {
    width: 200px;
    height: 70px;
    background: #FF6155;
    border-radius: 7px;
    border: transparent;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
    font-family: 'Darker-600';
    cursor: pointer;
    transform: skew(-20deg);
}

.heroBanner-explore {
    width: 199px;
    height: 70px;
    background: #161616;
    border-radius: 7px;
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    font-family: 'Darker-600';
    color: #FFFFFF;
    cursor: pointer;
    transform: skew(-20deg);
}

.heroBanner-images {
    width: 728px;
    height: 680.41px;
}

@media only screen and (max-width:1350px) {
    .heroBanner-images {
        width: 600px;
        height: auto;
    }
}

@media only screen and (max-width:1200px) {
    .heroBanner-images {
        width: 500px;
    }

    .heroBanner-title {
        max-width: 500px;
        font-size: 55px;
        line-height: 100%;
    }

    .heroBanner-text {
        max-width: 500px;
        font-size: 20px;
    }
}

@media only screen and (max-width:1024px) {
    .heroBanner-right {
        display: none;
    }

    .heroBanner-content {
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
    }

    .heroBanner-btn-group {
        justify-content: center;
    }

    .heroBanner-title {
        max-width: 700px;
        font-size: 50px;
        line-height: 100%;
    }

    .heroBanner-text {
        max-width: 600px;
        font-size: 18px;
    }

    .heroBanner-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width:768px) {
    .heroBanner-content {
        padding: 30px 20px;
    }

    .heroBanner-title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .heroBanner-text {
        max-width: 450px;
        margin-bottom: 25px;
        font-size: 16px;
    }
}

@media only screen and (max-width:500px) {
    .heroBanner-content {
        padding: 30px 10px;
    }

    .heroBanner-title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 10px;
        max-width: 250px;
    }

    .heroBanner-text {
        max-width: 250px;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .heroBanner-buy,
    .heroBanner-explore {
        width: 120px;
        height: 50px;
        font-size: 18px;
        line-height: 25px;
    }
}